<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
    <!--这里是连接字符串-->
    <connectionStrings>
      <add name="MediDBSqlProvider"
           connectionString ="Data Source = localhost; 
           Integrated Security = SSPI; 
           Initial Catalog = MediDB"/>
    </connectionStrings>
</configuration>